@model SmokeTestDBClassLibrary.Report_Evaluation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Report_Evaluation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evaluator.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evaluator.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Release.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Release.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Report.Report_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Report.Report_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
