@model SmokeTestDBClassLibrary.Report

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Report_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Report_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Left_Navigation_Menu_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Left_Navigation_Menu_location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssociatedTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssociatedTickets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
